 .u-section-1 {
  min-height: 708px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 708px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 708px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  width: 472px;
  min-height: 643px;
  height: auto;
  margin: 22px auto 0 -236px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 106px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px 10px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 143px 0 0 62px;
}

.u-section-1 .u-image-1 {
  min-height: 708px;
  background-image: url("images/profile.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 705px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 705px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-1 .u-group-1 {
    width: 469px;
    min-height: 623px;
    margin-left: -265px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 184px;
  }

  .u-section-1 .u-image-1 {
    min-height: 705px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-1 .u-group-1 {
    width: 381px;
    min-height: 560px;
    margin-left: -225px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 121px;
  }

  .u-section-1 .u-image-1 {
    min-height: 644px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    width: 554px;
    margin-top: -60px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 294px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1073px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1223px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    min-height: 676px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 127px;
  margin-bottom: 56px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 467px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-2 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/ScratchDay.png");
  background-position: 100% 50%;
  margin: -95px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Georgia, serif;
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 13px 0;
}

.u-section-2 .u-social-icons-1 {
  height: 25px;
  min-height: 16px;
  width: 99px;
  min-width: 72px;
  margin: 47px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 513px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-top: 19px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 58px auto 0;
  padding: 18px 46px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 152px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 423px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-3 .u-text-1 {
  width: 792px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-3 .u-image-1 {
  width: 522px;
  height: 416px;
  object-position: 44.92% 27.99%;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 132px;
  width: 132px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -95px auto 0 253px;
  padding: 25px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  width: 750px;
  margin: 13px auto 0;
}

.u-section-3 .u-list-1 {
  width: 750px;
  margin: 13px auto 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 112px;
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px 53px 19px 52px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px 53px 19px 52px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px 53px 19px 52px;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px auto 54px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -107px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-2 {
    width: 509px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 71px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -75px;
    margin-bottom: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 330px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-3 .u-btn-5 {
    margin-top: -77px;
    margin-bottom: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 175px;
    width: 175px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 281px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    height: 106px;
    width: 106px;
    margin-top: -53px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-btn-5 {
    margin-bottom: -23px;
  }
}

.u-section-3 .u-btn-4,
.u-section-3 .u-btn-4:before,
.u-section-3 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-5,
.u-section-3 .u-btn-5:before,
.u-section-3 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-5.u-btn-5.u-btn-5:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: url("images/AI_ed_header.png");
}

.u-section-4 .u-sheet-1 {
  min-height: 322px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 960px;
  margin: 46px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 170px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 54px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 50% 0%;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 50% 0%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 19px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1268px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1877px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-1 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-2 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-3 {
  height: 180px;
  width: 258px;
  object-position: 50% 36%;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-4 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-11 {
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-5 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-14 {
  margin: 0 auto;
}

.u-section-5 .u-text-15 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-6 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-16 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-17 {
  margin: 0 auto;
}

.u-section-5 .u-text-18 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-7 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-19 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-20 {
  margin: 0 auto;
}

.u-section-5 .u-text-21 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-5 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 6px 0 9px;
}

.u-section-5 .u-image-8 {
  height: 180px;
  width: 258px;
  margin: 0 auto;
}

.u-section-5 .u-text-22 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-23 {
  margin: 0 auto;
}

.u-section-5 .u-text-24 {
  font-size: 1.25rem;
  margin: 7px 10px 0;
}

.u-section-5 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1545px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-10 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-13 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-16 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-19 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-8 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-22 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3094px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -1977px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2384px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-top: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-top: auto;
  }

  .u-section-5 .u-text-8 {
    margin-top: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-top: auto;
  }

  .u-section-5 .u-text-11 {
    margin-top: auto;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-5 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    margin-top: auto;
  }

  .u-section-5 .u-text-14 {
    margin-top: auto;
  }

  .u-section-5 .u-text-15 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-6 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-16 {
    margin-top: auto;
  }

  .u-section-5 .u-text-17 {
    margin-top: auto;
  }

  .u-section-5 .u-text-18 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-7 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-19 {
    margin-top: auto;
  }

  .u-section-5 .u-text-20 {
    margin-top: auto;
  }

  .u-section-5 .u-text-21 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-8 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-22 {
    margin-top: auto;
  }

  .u-section-5 .u-text-23 {
    margin-top: auto;
  }

  .u-section-5 .u-text-24 {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    width: auto;
  }

  .u-section-5 .u-image-5 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    width: auto;
  }

  .u-section-5 .u-image-6 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-16 {
    width: auto;
  }

  .u-section-5 .u-image-7 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-19 {
    width: auto;
  }

  .u-section-5 .u-image-8 {
    height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-22 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-1 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-2 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-3 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-top: 0;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-4 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-top: 0;
  }

  .u-section-5 .u-text-12 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-5 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-14 {
    margin-top: 0;
  }

  .u-section-5 .u-text-15 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-6 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-17 {
    margin-top: 0;
  }

  .u-section-5 .u-text-18 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-7 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-20 {
    margin-top: 0;
  }

  .u-section-5 .u-text-21 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-7 {
    margin-top: 15px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-image-8 {
    height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-23 {
    margin-top: 0;
  }

  .u-section-5 .u-text-24 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-8 {
    margin-top: 15px;
  }
} .u-section-6 {
  background-image: url("images/Inclusive_ai_header.png");
}

.u-section-6 .u-sheet-1 {
  min-height: 330px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 960px;
  margin: 22px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 250px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -108px;
    margin-bottom: -108px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 245px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -733px;
    margin-bottom: -733px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -728px;
    margin-bottom: -728px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin: -122px 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 710px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 639px;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-7 .u-image-1 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-7 .u-image-2 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-7 .u-image-3 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-7 .u-text-8 {
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-7 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 824px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1225px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-8 {
  background-image: url("images/Human_ai_header.png");
}

.u-section-8 .u-sheet-1 {
  min-height: 300px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 960px;
  background-image: none;
  margin: 49px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 183px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: -50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 73px;
    margin-right: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 718px;
}

.u-section-9 .u-list-1 {
  margin-bottom: -7px;
  margin-top: 50px;
}

.u-section-9 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 618px;
}

.u-section-9 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 9px 0 6px;
}

.u-section-9 .u-image-1 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 9px 0 6px;
}

.u-section-9 .u-image-2 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-9 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 9px 0 6px;
}

.u-section-9 .u-image-3 {
  height: 260px;
  width: 299px;
  margin: 0 auto;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-9 .u-text-8 {
  margin: 0 auto;
}

.u-section-9 .u-text-9 {
  font-size: 1.25rem;
  margin: 21px 11px 0;
}

.u-section-9 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 508px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1186px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1567px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-10 .u-image-1 {
  background-image: url("images/Leadership_header.png");
  background-position: 50% 50%;
  min-height: 216px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 216px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-10 .u-image-2 {
  min-height: 216px;
  background-image: url("images/teaching.png");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  min-height: 216px;
  background-image: url("images/outreach.png");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  min-height: 216px;
  background-image: url("images/speaker.png");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-list-1 {
  width: 1081px;
  margin: 34px auto 60px;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 925px;
}

.u-section-10 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 50px;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 10px 50px 20px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-7 {
  padding: 10px 10px 0;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 50px;
}

.u-section-10 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 10px 50px 20px;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-8 {
  padding: 10px 10px 0;
}

.u-section-10 .u-text-7 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 50px;
}

.u-section-10 .u-text-8 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 10px 50px 20px;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-9 {
  padding: 10px 10px 0;
}

.u-section-10 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 50px;
}

.u-section-10 .u-text-10 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 10px 50px 20px;
}

.u-section-10 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-10 {
  padding: 10px 10px 0;
}

.u-section-10 .u-text-11 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 50px;
}

.u-section-10 .u-text-12 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 10px 50px 20px;
}

.u-section-10 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-10 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-31 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-10 .u-image-1 {
    min-height: 178px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-10 .u-image-2 {
    min-height: 178px;
  }

  .u-section-10 .u-image-3 {
    min-height: 178px;
  }

  .u-section-10 .u-image-4 {
    min-height: 178px;
  }

  .u-section-10 .u-list-1 {
    width: 940px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-right: 0;
  }

  .u-section-10 .u-text-10 {
    margin-right: 0;
  }

  .u-section-10 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1739px;
  }

  .u-section-10 .u-image-1 {
    min-height: 136px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-2 {
    min-height: 273px;
  }

  .u-section-10 .u-image-3 {
    min-height: 273px;
  }

  .u-section-10 .u-image-4 {
    min-height: 273px;
  }

  .u-section-10 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-10 .u-image-1 {
    min-height: 204px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    min-height: 205px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    min-height: 410px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-4 {
    min-height: 410px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-10 .u-image-1 {
    min-height: 128px;
  }

  .u-section-10 .u-image-2 {
    min-height: 129px;
  }

  .u-section-10 .u-image-3 {
    min-height: 258px;
  }

  .u-section-10 .u-image-4 {
    min-height: 258px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }
}